//Colors
$c-primary: #7d8cc4;
$c-primary-darken: #726da8;
$c-secondary: #bee7e8;
$c-secondary-darken: #a0d2db;
$c-tertiary: #594157;
$c-black: #000;

//Font-sizes
$fs-xx-small: 8px;
$fs-x-small: 12px;
$fs-small: 16px;
$fs-medium: 18px;
$fs-large: 24px;
$fs-x-large: 32px;

//Font-weight
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-heavy: 900;

//Spacing
$gap-xxs: 8px;
$gap-xs: 12px;
$gap-s: 16px;
$gap-m: 28px;
$gap-l: 24px;
$gap-xl: 32px;
$gap-xxl: 46px;
