$icomoon-font-family: "curriculum" !default;
$icomoon-font-path: "fonts" !default;

$icon-phone: "\e942";
$icon-location: "\e947";
$icon-mail: "\ea86";
$icon-twitter: "\ea96";
$icon-github: "\eab0";
$icon-linkedin: "\eac9";
$icon-new-tab: "\ea7e";
$icon-android: "\eac0";
$icon-appleinc: "\eabe";

